.todo-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    color: rgb(231, 161, 29);
}

input {
    justify-content: center;
}

.toto-container {
    margin: 50px;
}