.todo-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 5%;
  color: rgb(231, 161, 29);
  margin: 15px 0;
}

.toto-container {
  margin: 50px auto;
  width: 600px;
}

.todo-new {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.todo-data {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    dis
}
