.todo-title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    color: rgb(231, 161, 29);
    margin: 15px 0;
}

input {
    justify-content: center;
}

.toto-container {
    margin: 50px auto;
    width: 600px;
}